<div class="mb-3">
  <label for="{{key}}" class="form-label mb-1">{{label}}</label>
  <input 
    class="form-control{{#if requiredMessages}}
    is-invalid{{/if}}"
    type="{{#if type}}{{type}}{{else}}text{{/if}}"
    id="{{key}}"
    {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}}
  />
  {{#if requiredMessages}}
  <div class="invalid-feedback">{{requiredMessage}}</div>
  {{/if}}
</div>
