<div>
  <label for="{{key}}" class="{{@root.fieldLabelClasses}}">{{label}}</label>
  <input 
    class="{{@root.fieldInputClasses}} {{#if requiredMessages}}{{@root.fieldInvalidInputClasses}}{{/if}}"
    type="{{#if type}}{{type}}{{else}}text{{/if}}"
    id="{{key}}"
    {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}}
  />
  {{#if requiredMessages}}
  <div class="{{@root.fieldErrorClasses}}">{{requiredMessage}}</div>
  {{/if}}
</div>
