{{#> pageContainer pageTitle=signIn }}
  {{#if badCreds}}
  <div class="{{errorAlertClasses}}" role="alert">
    Incorrect username or password.
  </div>
  {{/if}}
  <form class="{{formClasses}}">
    {{> textField key="username" label="Username" requiredMessage="Enter your username." autocomplete="username"}}
    {{> textField key="password" label="Password" requiredMessage="Enter your password." type="password" autocomplete="current-password"}}
    <div class="{{buttonBoxClasses}}">
      {{> primaryButton}}
      {{> socialButtons}}
    </div>
  </form>
  <a href="{{forgotPWUrl}}">Forgot Password</a> &bull; <a href="{{registrationUrl}}">Register</a>
{{/pageContainer}}