{{#> pageContainer pageTitle=register }}
  <form class="{{formClasses}}">
    {{> textField key="username" label="Username" requiredMessage="Enter your username."}}
    {{> textField key="password" label="Password" requiredMessage="Enter your password." type="new-password"}}
    {{> textField key="confirm-password" label="Confirm Password" requiredMessage="Confirm your password." type="new-password"}}
    <div class="{{buttonBoxClasses}}">
      {{> primaryButton}}
    </div>
  </form>
  <a href="{{forgotPWUrl}}">Forgot Password</a> &bull; <a href="{{loginUrl}}">{{signIn}}</a>
{{/pageContainer}}