{{#> pageContainer pageTitle=register }}
  <form class="{{formClasses}}">
    {{#each registrationForm}}
      {{> textField key=this.key label=this.label requiredMessage=this.requiredMessage autocomplete=this.key}}
    {{/each}}
    {{> textField key="password" label="Password" requiredMessage="Enter your password." type="new-password"}}
    {{> textField key="confirm-password" label="Confirm Password" requiredMessage="Confirm your password." type="new-password"}}
    <div class="{{buttonBoxClasses}}">
      {{> primaryButton}}
    </div>
  </form>
  <a href="{{forgotPWUrl}}">Forgot Password</a> &bull; <a href="{{loginUrl}}">{{signIn}}</a>
{{/pageContainer}}