{{#> pageContainer pageTitle="Reset password" }}
  <p>Enter your email to receive a password reset link.</p>
  <form class="{{formClasses}}">
    {{> textField key="email" label="Email" requiredMessage="Enter your email." autocomplete="email"}}
    <div class="{{buttonBoxClasses}}">
      {{> primaryButton}}
    </div>
  </form>
  <a href="{{registrationUrl}}">Register</a> &bull; <a href="{{loginUrl}}">{{signIn}}</a>
{{/pageContainer}}